<script>
    (function () {
        // 增加 days
        // function days() {
        //     const nowDate = new Date();
        //
        //     const birthDate = '1994/09/27 19:00:00';
        //     const birthDays = Math.floor((nowDate.getTime() - new Date(birthDate).getTime()) / (24 * 3600 * 1000));
        //
        //     const loveDate = '2022/11/18 10:00:00';
        //     const loveDays = Math.floor((nowDate.getTime() - new Date(loveDate).getTime()) / (24 * 3600 * 1000));
        //
        //     const meetDate = '2013/7/16 10:00:00';
        //     const meetDays = Math.floor((nowDate.getTime() - new Date(meetDate).getTime()) / (24 * 3600 * 1000));
        //
        //     return `存活<b>${birthDays}</b>天,相遇<b>${meetDays}</b>天,结婚<b>${loveDays}</b>天`;
        // }
        // const daysElement = document.createElement('div');
        // daysElement.innerHTML = days();
        // document.getElementsByClassName('powerby')[0].prepend(daysElement);
        function yuanToFen(text) {
            if (text != null && text != undefined && text != "") {
                // 转换为字符串并去除空格
                let arr = text.toString().split("");
                // 小数点位置
                let index = arr.indexOf('.');
                // 总长度
                let len = arr.length - 1;
                if (index != -1) {
                if (len - index == 1) {
                    // 一位小数 末尾加0并转换为数字
                    return Number(text.toString().replace(".", "") + "0");
                } else if (len - index == 2) {
                    // 两位小数 去除小数点并转换为数字
                    return Number(text.toString().replace(".", ""));
                }
                } else {
                return text * 100;
                }
            } else {
                return text;
            }
        }
        fetch('/data/days.json')
            .then(function (resp) {
                return resp.json();
            })
            .then(function (jsonObj) {
                const nowDate = new Date();

                const birthDate = jsonObj['birthDate'];
                const birthDays = Math.floor((nowDate.getTime() - new Date(birthDate).getTime()) / (24 * 3600 * 1000));

                const loveDate = jsonObj['loveDate'];
                const loveDays = Math.floor((nowDate.getTime() - new Date(loveDate).getTime()) / (24 * 3600 * 1000));

                const meetDate = jsonObj['meetDate'];
                const meetDays = Math.floor((nowDate.getTime() - new Date(meetDate).getTime()) / (24 * 3600 * 1000));

                const daysElement = document.createElement('div');
                daysElement.innerHTML = `存活<b>${birthDays}</b>天,相遇<b>${meetDays}</b>天(${meetDate.split(' ')[0]}),结婚<b>${loveDays}</b>天(${loveDate.split(' ')[0]})`;
                document.getElementsByClassName('powerby')[0].prepend(daysElement);
            });
        if (document.URL.indexOf('genshin-impact') > 0) {
            fetch('/data/star-rail-wish.json')
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (jsonObj) {
                    let json11 = jsonObj['11'];
                    let json12 = jsonObj['12'];
                    let json1 = jsonObj['1'];
                    let json2 = jsonObj['2'];

                    const poolFiveCntMap = new Map();
                    const poolFiveCountMap = new Map();

                    function storeGacha(pool, it) {
                        let curCount = poolFiveCountMap.get(pool);
                        if (curCount == null) {
                            curCount = 1;
                        } else {
                            curCount = curCount + 1;
                        }

                        if (it.rank_type === '5') {
                            const fiveName = `${it.name}(${curCount})`;
                            if (poolFiveCntMap.get(pool) == null) {
                                poolFiveCntMap.set(pool, fiveName);
                            } else {
                                const p = poolFiveCntMap.get(pool);
                                poolFiveCntMap.set(pool, `${p},${fiveName}`);
                            }
                            curCount = 0;
                        }

                        poolFiveCountMap.set(pool, curCount);
                    }

                    json11.map(function (it) {
                        storeGacha('11', it);
                    });
                    json12.map(function (it) {
                        storeGacha('12', it);
                    });
                    json2.map(function (it) {
                        storeGacha('2', it);
                    });
                    json1.map(function (it) {
                        storeGacha('1', it);
                    });


                    const total11 = json11.length;
                    const total12 = json12.length;
                    const total1 = json1.length;
                    const total2 = json2.length;

                    const element = document.createElement('div');
                    element.className = "table-wrapper";
                    element.innerHTML = `<p><strong>崩坏：星穹铁道</strong></p>
<table>
<thead>
<tr><th>池子</th><th>总抽取数量</th><th>五星</th><th>已抽</th></tr>
</thead>
<tbody>
<tr><td>角色池</td><td>${total11}</td><td>${poolFiveCntMap.get('11')}</td><td>${poolFiveCountMap.get('11')}</td></tr>
<tr><td>武器池</td><td>${total12}</td><td>${poolFiveCntMap.get('12')}</td><td>${poolFiveCountMap.get('12')}</td></tr>
<tr><td>常驻池</td><td>${total1}</td><td>${poolFiveCntMap.get('1')}</td><td>${poolFiveCountMap.get('1')}</td></tr>
<tr><td>新手池</td><td>${total2}</td><td>${poolFiveCntMap.get('2')}</td><td>${poolFiveCountMap.get('2')}</td></tr>
</tbody>
</table>`;
                    document.getElementsByClassName('article-content')[0].prepend(element);
                });
            fetch('/data/zzzV2.json')
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (jsonObj) {
                    let json11 = jsonObj['3'];
                    let json12 = jsonObj['5'];
                    let json1 = jsonObj['1'];
                    let json2 = jsonObj['2'];

                    const poolFiveCntMap = new Map();
                    const poolFiveCountMap = new Map();

                    function storeGacha(pool, it) {
                        let curCount = poolFiveCountMap.get(pool);
                        if (curCount == null) {
                            curCount = 1;
                        } else {
                            curCount = curCount + 1;
                        }

                        if (it.rank_type === '5') {
                            const fiveName = `${it.name}(${curCount})`;
                            if (poolFiveCntMap.get(pool) == null) {
                                poolFiveCntMap.set(pool, fiveName);
                            } else {
                                const p = poolFiveCntMap.get(pool);
                                poolFiveCntMap.set(pool, `${p},${fiveName}`);
                            }
                            curCount = 0;
                        }

                        poolFiveCountMap.set(pool, curCount);
                    }

                    json11.map(function (it) {
                        storeGacha('11', it);
                    });
                    json12.map(function (it) {
                        storeGacha('12', it);
                    });
                    json2.map(function (it) {
                        storeGacha('2', it);
                    });
                    json1.map(function (it) {
                        storeGacha('1', it);
                    });


                    const total11 = json11.length;
                    const total12 = json12.length;
                    const total1 = json1.length;
                    const total2 = json2.length;

                    const element = document.createElement('div');
                    element.className = "table-wrapper";
                    element.innerHTML = `<p><strong>绝区零</strong></p>
<table>
<thead>
<tr><th>池子</th><th>总抽取数量</th><th>五星</th><th>已抽</th></tr>
</thead>
<tbody>
<tr><td>音擎频段</td><td>${total11}</td><td>${poolFiveCntMap.get('11')}</td><td>${poolFiveCountMap.get('11')}</td></tr>
<tr><td>邦布频段</td><td>${total12}</td><td>${poolFiveCntMap.get('12')}</td><td>${poolFiveCountMap.get('12')}</td></tr>
<tr><td>常驻频段</td><td>${total1}</td><td>${poolFiveCntMap.get('1')}</td><td>${poolFiveCountMap.get('1')}</td></tr>
<tr><td>独家频段</td><td>${total2}</td><td>${poolFiveCntMap.get('2')}</td><td>${poolFiveCountMap.get('2')}</td></tr>
</tbody>
</table>`;
                    document.getElementsByClassName('article-content')[0].prepend(element);
                });
            fetch('/data/arknights.json')
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (jsonObj) {
                    // poolName 总抽数
                    const poolCntMap = new Map();
                    // poolName 六星名字及抽数
                    const poolSixCntMap = new Map();
                    // poolName 六星抽数计次
                    const poolSixCountMap = new Map();
                    jsonObj.map(function (it) {
                        let poolName = it.pool;
                        const charLength = it.chars.length;

                        let curCnt = poolCntMap.get(poolName);
                        if (curCnt == null) {
                            poolCntMap.set(poolName, charLength);
                        } else {
                            poolCntMap.set(poolName, charLength + curCnt);
                        }

                        it.chars.map(function (char) {
                            let curCount = poolSixCountMap.get(poolName);
                            if (curCount == null) {
                                curCount = 1;
                            } else {
                                curCount = curCount + 1;
                            }

                            // 当前是六星
                            if (char.rarity === 5) {
                                const sixStar = `${char.name}(${curCount})`;
                                if (poolSixCntMap.get(poolName) == null) {
                                    poolSixCntMap.set(poolName, sixStar);
                                } else {
                                    const pre = poolSixCntMap.get(poolName);
                                    poolSixCntMap.set(poolName, `${pre},${sixStar}`);
                                }

                                curCount = 0;
                            }

                            poolSixCountMap.set(poolName, curCount);
                        });
                    });
                    let tbody = '';
                    poolCntMap.forEach(function (cnt, poolName) {
                        const curCount = poolSixCountMap.get(poolName);
                        const sixChars = poolSixCntMap.get(poolName) != null ? poolSixCntMap.get(poolName) : '';
                        tbody = tbody + `<tr><td>${poolName}</td><td>${cnt}</td><td>${sixChars}</td><td>${curCount}</td></tr>`;
                    });

                    const element = document.createElement('div');
                    element.className = "table-wrapper";
                    element.innerHTML = `<p><strong>明日方舟</strong></p>
<table>
<thead>
<tr><th>池子</th><th>总抽取数量</th><th>六星</th><th>已抽</th></tr>
</thead>
<tbody>
${tbody}
</tbody>
</table>`;
                    document.getElementsByClassName('article-content')[0].prepend(element);
                });
        }
        if (document.URL.indexOf('house') > 0) {
            fetch('/data/house.json')
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (jsonObj) {
                    let qingTotal = 0;
                    let yangTotal = 0;
                    var tbody = '';
                    jsonObj.map(function (it) {
                        qingTotal = qingTotal + yuanToFen(it.qing);
                        yangTotal = yangTotal + yuanToFen(it.yang);
                        if (it.status == '已收款') {
                            tbody = tbody + `<tr style="color: red;"><td>${it.name}</td><td>${it.amount}</td><td>${it.status}</td><td>${it.payTime}</td><td>${it.qing}</td><td>${it.yang}</td></tr>`;
                        } else if (it.status == '未付款') {
                            tbody = tbody + `<tr style="color: blue;"><td>${it.name}</td><td>${it.amount}</td><td>${it.status}</td><td>${it.payTime}</td><td>${it.qing}</td><td>${it.yang}</td></tr>`;
                        } else {
                            tbody = tbody + `<tr><td>${it.name}</td><td>${it.amount}</td><td>${it.status}</td><td>${it.payTime}</td><td>${it.qing}</td><td>${it.yang}</td></tr>`;
                        }                        
                    });
                    let bothTotal = qingTotal + yangTotal;
                    bothTotal = bothTotal / 100;
                    qingTotal = qingTotal / 100;
                    yangTotal = yangTotal / 100;
                    tbody = tbody + `<tr><td>总计</td><td>${bothTotal}</td><td></td><td></td><td>${qingTotal}</td><td>${yangTotal}</td></tr>`;
                    const element = document.createElement('div');
                    element.className = "table-wrapper";
                    element.innerHTML = `<h2 id="支出流水">支出流水</h2>
<table>
<thead>
<tr><th>费用名称</th><th>金额</th><th>状态</th><th>支出时间</th><th>Qing</th><th>Yang</th></tr>
</thead>
<tbody>
${tbody}
</tbody>
</table>`;
                    document.getElementsByClassName('article-content')[0].prepend(element);
                    // 更新导航
                    var newLi = document.createElement('li');
                    var newLink = document.createElement('a');
                    newLink.href = '#支出流水';
                    newLink.textContent = '支出流水';

                    newLi.appendChild(newLink);
                    // 将新的 li 元素插入到 ol 元素的第一个位置
                    let olForTOC = document.getElementById('TableOfContents').getElementsByTagName('ol')[0]
                    olForTOC.insertBefore(newLi, olForTOC.firstChild);
                });
        }
    }());
</script>
