<script>
    (function () {
        // 增加 days
        // function days() {
        //     const nowDate = new Date();
        //
        //     const birthDate = '1994/09/27 19:00:00';
        //     const birthDays = Math.floor((nowDate.getTime() - new Date(birthDate).getTime()) / (24 * 3600 * 1000));
        //
        //     const loveDate = '2022/11/18 10:00:00';
        //     const loveDays = Math.floor((nowDate.getTime() - new Date(loveDate).getTime()) / (24 * 3600 * 1000));
        //
        //     const meetDate = '2013/7/16 10:00:00';
        //     const meetDays = Math.floor((nowDate.getTime() - new Date(meetDate).getTime()) / (24 * 3600 * 1000));
        //
        //     return `存活<b>${birthDays}</b>天,相遇<b>${meetDays}</b>天,结婚<b>${loveDays}</b>天`;
        // }
        // const daysElement = document.createElement('div');
        // daysElement.innerHTML = days();
        // document.getElementsByClassName('powerby')[0].prepend(daysElement);

        fetch('/data/days.json')
            .then(function (resp) {
                return resp.json();
            })
            .then(function (jsonObj) {
                const nowDate = new Date();

                const birthDate = jsonObj['birthDate'];
                const birthDays = Math.floor((nowDate.getTime() - new Date(birthDate).getTime()) / (24 * 3600 * 1000));

                const loveDate = jsonObj['loveDate'];
                const loveDays = Math.floor((nowDate.getTime() - new Date(loveDate).getTime()) / (24 * 3600 * 1000));

                const meetDate = jsonObj['meetDate'];
                const meetDays = Math.floor((nowDate.getTime() - new Date(meetDate).getTime()) / (24 * 3600 * 1000));

                const daysElement = document.createElement('div');
                daysElement.innerHTML = `存活<b>${birthDays}</b>天,相遇<b>${meetDays}</b>天(${meetDate.split(' ')[0]}),结婚<b>${loveDays}</b>天(${loveDate.split(' ')[0]})`;
                document.getElementsByClassName('powerby')[0].prepend(daysElement);
            });
        if (document.URL.indexOf('genshin-impact') > 0) {
            fetch('/data/star-rail-wish.json')
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (jsonObj) {
                    let json11 = jsonObj['11'];
                    let json12 = jsonObj['12'];
                    let json1 = jsonObj['1'];
                    let json2 = jsonObj['2'];

                    const poolFiveCntMap = new Map();
                    json11.map(function (it) {
                        if (it.rank_type === '5') {
                            if (poolFiveCntMap.get('11') == null) {
                                poolFiveCntMap.set('11', it.name);
                            } else {
                                const p = poolFiveCntMap.get('11');
                                poolFiveCntMap.set('11', `${p},${it.name}`);
                            }
                        }
                    });
                    json12.map(function (it) {
                        if (it.rank_type === '5') {
                            if (poolFiveCntMap.get('12') == null) {
                                poolFiveCntMap.set('12', it.name);
                            } else {
                                const p = poolFiveCntMap.get('11');
                                poolFiveCntMap.set('12', `${p},${it.name}`);
                            }
                        }
                    });
                    json2.map(function (it) {
                        if (it.rank_type === '5') {
                            if (poolFiveCntMap.get('2') == null) {
                                poolFiveCntMap.set('2', it.name);
                            } else {
                                const p = poolFiveCntMap.get('11');
                                poolFiveCntMap.set('2', `${p},${it.name}`);
                            }
                        }
                    });
                    json1.map(function (it) {
                        if (it.rank_type === '5') {
                            if (poolFiveCntMap.get('1') == null) {
                                poolFiveCntMap.set('1', it.name);
                            } else {
                                const p = poolFiveCntMap.get('11');
                                poolFiveCntMap.set('1', `${p},${it.name}`);
                            }
                        }
                    });


                    const total11 = json11.length;
                    const total12 = json12.length;
                    const total1 = json1.length;
                    const total2 = json2.length;

                    const element = document.createElement('div');
                    element.className = "table-wrapper";
                    element.innerHTML = `<p><strong>崩坏：星穹铁道</strong></p>
<table>
<thead>
<tr><th>池子</th><th>抽取数量</th><th>五星</th></tr>
</thead>
<tbody>
<tr><td>角色池</td><td>${total11}</td><td>${poolFiveCntMap.get('11')}</td></tr>
<tr><td>武器池</td><td>${total12}</td><td>${poolFiveCntMap.get('12')}</td></tr>
<tr><td>常驻池</td><td>${total1}</td><td>${poolFiveCntMap.get('1')}</td></tr>
<tr><td>新手池</td><td>${total2}</td><td>${poolFiveCntMap.get('2')}</td></tr>
</tbody>
</table>`;
                    document.getElementsByClassName('article-content')[0].prepend(element);
                });
            fetch('/data/arknights.json')
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (jsonObj) {
                    console.log("it name start....")
                    const poolCntMap = new Map();
                    const poolSixCntMap = new Map();
                    jsonObj.map(function (it) {
                        if (poolCntMap.get(it.pool) == null) {
                            poolCntMap.set(it.pool, 1);
                        } else {
                            poolCntMap.set(it.pool, poolCntMap.get(it.pool) + 1);
                        }
                        it.chars.map(function (char) {
                            if (char.rarity === 5) {
                                if (poolSixCntMap.get(it.pool) == null) {
                                    poolSixCntMap.set(it.pool, `${char.name}`);
                                } else {
                                    const pre = poolSixCntMap.get(it.pool);
                                    poolSixCntMap.set(it.pool, `${pre},${char.name}`);
                                }
                            }
                        });
                    });
                    var tbody = '';
                    poolCntMap.forEach(function (v, k) {
                        console.log(`Pool[${k}],Count[${v}]`);
                        const sixChars=poolSixCntMap.get(k) != null ? poolSixCntMap.get(k):'';
                        tbody = tbody + `<tr><td>${k}</td><td>${v}</td><td>${sixChars}</td></tr>`;
                    })
                    console.log("it name end....")
                    const total11 = '11';
                    const total12 = '12';
                    const total1 = '1';
                    const total2 = '2';

                    const element = document.createElement('div');
                    element.className = "table-wrapper";
                    element.innerHTML = `<p><strong>明日方舟</strong></p>
<table>
<thead>
<tr><th>池子</th><th>抽取数量</th><th>六星</th></tr>
</thead>
<tbody>
${tbody}
</tbody>
</table>`;
                    document.getElementsByClassName('article-content')[0].prepend(element);
                });
        };
    }());
</script>
