<!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script> -->
<script defer src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script>
{{ partialCached "pwa/assets/sw" . }}

<script>
    (function () {
        function yuanToFen(text) {
            if (text != null && text != undefined && text != "") {
                // 转换为字符串并去除空格
                let arr = text.toString().split("");
                // 小数点位置
                let index = arr.indexOf('.');
                // 总长度
                let len = arr.length - 1;
                if (index != -1) {
                if (len - index == 1) {
                    // 一位小数 末尾加0并转换为数字
                    return Number(text.toString().replace(".", "") + "0");
                } else if (len - index == 2) {
                    // 两位小数 去除小数点并转换为数字
                    return Number(text.toString().replace(".", ""));
                }
                } else {
                return text * 100;
                }
            } else {
                return text;
            }
        }
        function fetchDaysByJSON() {
            fetch('/data/days.json')
            .then(resp => resp.json())
            .then(function (days) {fetchDays(days['birthDate'], days['meetDate'], days['loveDate']);});
        }
        function fetchDays(birthDate, meetDate, loveDate) {
                const nowDate = new Date();
                const birthDays = Math.floor((nowDate.getTime() - new Date(birthDate).getTime()) / (24 * 3600 * 1000));
                const loveDays = Math.floor((nowDate.getTime() - new Date(loveDate).getTime()) / (24 * 3600 * 1000));
                const meetDays = Math.floor((nowDate.getTime() - new Date(meetDate).getTime()) / (24 * 3600 * 1000));
                const daysElement = document.createElement('div');
                daysElement.innerHTML = `存活<b>${birthDays}</b>天,相遇<b>${meetDays}</b>天(${meetDate.split(' ')[0]}),结婚<b>${loveDays}</b>天(${loveDate.split(' ')[0]})`;
                document.getElementsByClassName('powerby')[0].prepend(daysElement);
        }
        // fetchDaysByJSON();
        // assets/data/days.json
        fetchDays('1994/09/27 00:00:00', '2013/7/16 00:00:00', '2022/11/18 00:00:00');
        if (document.URL.indexOf('house') > 0) {
            fetch('/data/house.json')
                .then(resp => resp.json())
                .then(function (jsonObj) {
                    let qingTotal = 0;
                    let yangTotal = 0;
                    var tbody = '';
                    jsonObj.map(function (it) {
                        qingTotal = qingTotal + yuanToFen(it.qing);
                        yangTotal = yangTotal + yuanToFen(it.yang);
                        if (it.status == '已收款') {
                            tbody = tbody + `<tr style="color: red;"><td>${it.name}</td><td>${it.amount}</td><td>${it.status}</td><td>${it.payTime}</td><td>${it.qing}</td><td>${it.yang}</td></tr>`;
                        } else if (it.status == '未付款') {
                            tbody = tbody + `<tr style="color: blue;"><td>${it.name}</td><td>${it.amount}</td><td>${it.status}</td><td>${it.payTime}</td><td>${it.qing}</td><td>${it.yang}</td></tr>`;
                        } else {
                            tbody = tbody + `<tr><td>${it.name}</td><td>${it.amount}</td><td>${it.status}</td><td>${it.payTime}</td><td>${it.qing}</td><td>${it.yang}</td></tr>`;
                        }                        
                    });
                    let bothTotal = qingTotal + yangTotal;
                    bothTotal = bothTotal / 100;
                    qingTotal = qingTotal / 100;
                    yangTotal = yangTotal / 100;
                    tbody = tbody + `<tr><td>总计</td><td>${bothTotal}</td><td></td><td></td><td>${qingTotal}</td><td>${yangTotal}</td></tr>`;
                    const element = document.createElement('div');
                    element.className = "table-wrapper";
                    element.innerHTML = `<h2 id="支出流水">支出流水</h2>
<table>
<thead>
<tr><th>费用名称</th><th>金额</th><th>状态</th><th>支出时间</th><th>Qing</th><th>Yang</th></tr>
</thead>
<tbody>
${tbody}
</tbody>
</table>`;
                    document.getElementsByClassName('article-content')[0].prepend(element);
                    // 更新导航
                    var newLi = document.createElement('li');
                    var newLink = document.createElement('a');
                    newLink.href = '#支出流水';
                    newLink.textContent = '支出流水';

                    newLi.appendChild(newLink);
                    // 将新的 li 元素插入到 ol 元素的第一个位置
                    let olForTOC = document.getElementById('TableOfContents').getElementsByTagName('ol')[0]
                    olForTOC.insertBefore(newLi, olForTOC.firstChild);
                });
        }
    }());
</script>
